FIREBASE_SERVICE_ACCOUNT=secrets/firebase-service-account.json
FIREBASE_STORAGE_BUCKET=interiorplatform-d58e0.firebasestorage.app
FIREBASE_STORAGE_PREFIX=furniture_images
FIREBASE_COLLECTION=ikea_products

DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=root
DB_PASSWORD=1234
DB_NAME=product_db
