--extra-index-url https://download.pytorch.org/whl/cu118
# 1. API 및 통신 (우리 서버용)
fastapi
uvicorn
pyzmq

# 2. 이미지 전처리 및 비전 (MobileSAM 전담)
Pillow
opencv-python-headless
onnxruntime-gpu==1.17.1
imageio
imageio-ffmpeg

# 3. AI 모델 & 파이프라인 (버전 고정 철저)
huggingface_hub==0.22.2
diffusers==0.25.0
transformers<4.40.0
accelerate
xformers==0.0.23.post1+cu118
einops
omegaconf
safetensors
open_clip_torch

# 4. 3D 수학 & 렌더링
numpy<2.0.0
scipy
trimesh
kiui
roma
plyfile
PyMCubes

# 5. 기타 유틸리티 및 강력한 SAM 엔진
tyro
tqdm
ninja
ultralytics

rembg